html {
    font-family: 'Roboto', sans-serif;
    background: #36384d;
}

.card {
    margin: 0 auto;
    display: flex;
    background: #fff;
    height: 642px;
    width: 930px;
    border-radius: 20px;

    .btn-subscribe {
        background: #242742;
        color: whitesmoke;
        height: 40px;
    }

}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}